<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TicTacToe</title>
    <link rel="stylesheet" href="style.css">
    <script src="../lib/angular-1.5.8.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="game-app">
<div class="game-container" ng-controller="game-controller">
    <!--Player -->
    <div class="player-container">
        <div class="player-one player" ng-class="{'selected' : game.mode.xPlayerTurn}">Player 1</div>
        <div class="player-two player" ng-class="{'selected' : !game.mode.xPlayerTurn}">Player 2</div>
    </div>

    <!--Game board-->
    <div class="board-container">
        <!--first row-->
        <div class="cell"
             ng-repeat="cell in game.board.cells"
             ng-click="!cell.value ? game.board.select(cell) : ''">
            {{cell.value ? cell.value : "" }}
        </div>
        {{cell.value}}
    </div>
    <!--Message -->
    <div class="message-container">
        <div class="message">Player 1 Wins !!!</div>
    </div>
</div>
</body>
</html>