$color-bg: #effbef;
$color-border: brown;
$color-text: black;

$padding: 10px;

* {
  box-sizing: border-box;
}

.resize-parent {
  display: inline-block;
  width: 100%;
}

//Player container
.player-container {

  @extend .resize-parent;
  .player {
    float: left;
    width: 50%;

    text-align: center;
    padding: $padding;

    border: 1px solid transparent;
    background-color: $color-bg;
  }
  .player.selected{
    border: 1px solid $color-border;
  }
}

//Game Board container
.board-container {
  @extend .resize-parent;
  .cell {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: $padding*1.5;
    border: 1px solid $color-border;
  }
}

// Result container
.message-container {
  .message {
    text-align: center;
    padding: $padding*1.5;
    border: 1px solid $color-border;
    background-color: $color-bg;
  }
}

